/* This is a customized css */
.lecture_header {
    position: relative;
}

.create_question_btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.panel {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
}

.q_box {
    background-color: aliceblue;
    padding: 40px;
}

.question_text {
    margin-bottom: 100px;
    font-size: 2em;
}

.capture_error_box {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: lightgray;
    margin-bottom: 20px;
}

.capture_error {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icon-chevron-left,
.icon-chevron-right {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 200%;
}

.fh5co-portfolio .portfolio-text {
    width: 100%;
    float: left;
    padding: 10px;
}

.custom_btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    transition: .4s;
    background: #DD356E;
    border: solid #DD356E;
    margin-bottom: 50px;
}

.custom_btn:hover {
    background: white;
    color: #DD356E;
}

.fh5co-nav ul li.btn-cta a span{
    padding: 10px 10px;
}

.panel-heading{
    padding: 35px 20px;
}

.panel-heading div h2{
    position: absolute;
    transform: translate(0%, -50%);
}


.guideline{
    background-color: #eeeeee;
}

.guideline .guideline-title{
    font-size: 54px;
    padding-top: 20px;
}

.guideline .guideline-item{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: #fee856;
    margin-top: 30px;
    margin-bottom: 30px
}

.icon-description{
    padding-bottom: 50px;
}

.guideline .guideline-item .guideline-item-icon{
    font-size: 54pt;
    position: relative;
    top: 35px;
    left: 16px
}

.guideline .guideline-item .guideline-item-arrow{
    font-size: 20pt;
    position: relative;
    top: 10px;
    left: 160px
}


