{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}キャリブレーション{% endblock %}

{% block content %}
	<div id="fh5co-portfolio">
        <div class="container">
            <div class="row animate-boc">
                <div class="col-md-offset-2 col-md-8">
                    {% if capture_error %}
                    <h2>エラー</h2>
                    <div class="capture_error_box">
                        <h3 class="capture_error">デバイスを使用できませんでした</h3>
                    </div>
                    <a class="btn btn-primary" href="{% url 'ghostwriter:index' %}">戻る</a>
                    {% else %}
                    <h2>Calibration Slides</h2>
                        <div>
                            <select id="select">
                        <form method="post" class="form-group">
                            {% csrf_token %}
                            <label for="select_camera_id">カメラ</label>
                            <select id="select_camera_id" class="form-control" name="select_camera_id">
                                <option value="">カメラを選択してください</option>
                            </select>
                            <div>
                                <video id="video"></video>
                            </div>
                        </div>
                        <a class="btn-lg custom_btn" href="{% url 'ghostwriter:index' %}">Back</a>
                            <button class="btn btn-primary" type="submit" value="submit">Capture Start</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionaly_scripts %}
    <script>
        window.onload = function () {
            'use strict';

            // getUserMedia非対応チェック
            if (navigator.mediaDevices.getUserMedia === undefined || navigator.mediaDevices.enumerateDevices === undefined) {
                console.error('getUserMedia is not supported by the browser.');
                return;
            }

            // 接続されているカメラとマイクのMediaStreamオブジェクトを取得する
            navigator.mediaDevices.enumerateDevices().then(function (sourcesInfo) {
                // 取得できたカメラとマイクを含むデバイスからカメラだけをフィルターする
                var videoSroucesArray = sourcesInfo.filter(function (elem) {
                    return elem.kind == 'videoinput';
                });
                render(videoSroucesArray);
            });

            /**
             * カメラを選択するセレクトボックスを組み立てる
             */
            function render(videoSroucesArray) {
                var $selectBox = document.querySelector('#select_camera_id')
                videoSroucesArray.forEach(function (source, idx) {
                    console.log(source);
                    var label = source.label !== "" ? source.label : ("カメラ" + idx);
                    $selectBox.insertAdjacentHTML("beforeend", "<option value='" + idx + "'>" + label + "</option>");
                });
                return this;
            }

            var currentStream;

            /**
             * カメラの再生を開始する
             */
            function start(e) {
                // 既にカメラと接続していたら停止
                if (currentStream) {
                    currentStream.getVideoTracks().forEach(function (devise) {
                        devise.stop();
                    });
                    currentStream = null;
                }

                if (e.target.value === "") {
                    return;
                }

                var constraints = {
                    video: {
                        optional: [{
                            sourceId: e.target.value
                        }]
                    }
                };
                // Video と Audioのキャプチャを開始
                navigator.mediaDevices.getUserMedia(constraints).then(function (stream) {
                    currentStream = stream; // カメラを切り替えた時に停止するため格納
                    var $video = document.querySelector('#video');
                    $video.src = window.URL.createObjectURL(stream);
                    $video.play(); // firefox用
                }, function () {
                    console.log("error:" + arguments);
                })
            }

            var selectBox = document.querySelector('#select_camera_id');
            selectBox.addEventListener('change', start, false);
        };
    </script>
{% endblock %}