{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Ghostwriter{% endblock %}

{% block content %}
	<div id="fh5co-portfolio">
    <div class="container-fluid">
        <div class="row animate-boc">
            <form method="post">
                {% csrf_token %}
                <div class="form-group col-md-3">
                    <ul class="list-group">
                        <h3 class="list-group-item-heading">{{ form.lecture.label_tag }}</h3>
                        {% for field in form.lecture %}
                            <li class="list-group-item">
                                {{ field }}
                            </li>
                        {% endfor %}
                        {{ form.lecture.errors }}
                    </ul>
                    <button id="save-btn" class="btn btn-lg btn-primary disabled" type="submit" value="submit">保存</button>
                </div>
                <div class="col-md-9">
                <div class="row" style="text-align: center">
                    <div class="col-md-offset-0">
                        <input id="select-all" class="btn btn-lg btn-primary" type="button" value="全選択" onclick='check_all("images")'>
                        <input id="purge-all" class="btn btn-lg btn-primary" type="button" value="全解除" onclick='decheck_all("images")'>
                    </div>
                </div>
                    <div class="row">
                        {% if object_list|length == 0 %}
                            <div class="col-md-12">
                                <h2 class="text-center text-muted">There are no orphan images.</h2>
                            </div>
                        {% endif %}
                        {% for img in object_list %}
                            <div class="col-md-4">
                                <div class="fh5co-portfolio animate-box">
                                    <a class="img_checkbox">
                                        <div class="portfolio-entry imgcheck" style="background-image: url({{ img.image.url }});"></div>
                                        <input type="checkbox" group='images' class="images" name="images" value="{{ img.pk }}">
                                        <div class="portfolio-text">
                                            <h3>{{ img.title }}</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}

{% block additionaly_scripts %}
<script type="text/javascript">
var disabled = "disabled";
var save_btn = $("#save-btn");

function save_enable() {
    if (save_btn.hasClass(disabled)) {
        save_btn.toggleClass(disabled);
    }
}

function save_disable() {
    if (!save_btn.hasClass(disabled)) {
        save_btn.toggleClass(disabled);
    }
}

$('input[group="images"]').click(function () {
    if($('input[group="images"]:checked').length > 0) {
        save_enable();
    } else {
        save_disable();
    }
});
$('#select-all').click(function () {
    save_enable();
});
$('#purge-all').click(function () {
    save_disable();
});
</script>
{% endblock %}