{% extends 'base.html' %}

{% block title %}{{ item.title }} - Ghostwriter{% endblock %}

{% block content %}
	<div id="fh5co-portfolio">
    <div class="container">
        <ul class="list-group">
            <div class="list-group-item lecture_header" href="{% url 'ghostwriter:lecture' item.pk %}">
                <h1 class="list-group-item-heading">{{ item.title }}</h1>
                <p class="list-group-item-text">day of week: {{ item.get_day_of_week_display }} period: {{ item.get_period_display }}</p>
                <a class="create_question_btn" href="{% url 'ghostwriter:question' item.pk %}"><button class="btn btn-primary">問題作成</button></a>
            </div>
        </ul>
        <div class="row animate-boc">
            <div class="col-md-6">
                <div class="row">
                    {% for image in item.images.all %}
                    <div class="col-md-6">
                        <div class="fh5co-portfolio animate-box">
                            <div class="portfolio-entry" data-target="#{{ image.title }}" data-toggle="modal" style="background-image: url({{ image.image.url }});cursor: pointer;"></div>
                        </div>
                    </div>
                        <div class="modal fade" id="{{ image.title }}">
                            <div class="modal-dialog modal-lg align-center">
                                <div class="modal-body">
                                    <img src="{{ image.image.url }}" alt="image_{{ image.title }}" class="img-responsive">
                                        <div class="modal-footer">
                                            <button class="btn btn-md btn-primary" data-dismiss="modal">閉じる</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <p class="ocr_text">{{ item.ocr_text }}</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}