<nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="index.html">Ghostwriter<span>.</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a href="{% url 'ghostwriter:index' %}">Home</a></li>
                        <li><a href="{% url 'ghostwriter:lectures' %}">Lectures</a></li>
                        <li class="btn-cta"><a href="#"><span>CaptureNow</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>