<nav class="fh5co-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a href="{% url 'ghostwriter:index' %}">Ghostwriter<span>.</span></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a href="{% url 'ghostwriter:index' %}"><span class="icon-home3"></span> Home</a></li>
                        <li><a href="{% url 'ghostwriter:lectures' %}"><span class="icon-books"></span> Lectures</a></li>
                        <li><a href="{% url 'ghostwriter:tasks' %}"><span class="icon-folder"></span> Tasks</a></li>
                        <li class="btn-cta"><a href="{% url 'ghostwriter:calibration' %}"><span class="icon-camera3">  CaptureNow</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>