certifi==2017.7.27.1
chardet==3.0.4
click==6.7
Django==1.11.6
goolabs==0.4.0
idna==2.6
olefile==0.44
Pillow==4.3.0
pytz==2017.2
requests==2.18.4
six==1.11.0
urllib3==1.22
django-celery==3.2.1
flower==0.9.2
kombu==3.0.37
pycparser==2.18
rabbitmq==0.2.0
tornado==4.5.2
vine==1.1.4